<a href="https://colab.research.google.com/github/sattia7/streamlit-Diabetes-Prediction-Web-App/blob/main/streamlit_Diabetes_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [75]:
df=pd.read_csv('/content/diabetes2.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [76]:
df.shape

(768, 9)

In [77]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [78]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [79]:
X=df.drop(columns='Outcome', axis=1)
Y=df['Outcome']
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [80]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)

In [81]:
model=svm.SVC(kernel='linear')

In [82]:
model.fit(X_train,Y_train)

SVC(kernel='linear')

In [83]:
train_predict=model.predict(X_train)

In [84]:
Train_accuracy=accuracy_score(train_predict, Y_train)
Train_accuracy

0.7833876221498371

In [85]:
test_predict=model.predict(X_test)

In [86]:
test_accuracy=accuracy_score(test_predict, Y_test)
test_accuracy

0.7727272727272727

In [92]:
input_dat=(4,110,92,0,0,37.6,0.191,30)

inp_as_np= np.asanyarray(input_dat)
input_dat_reshape=inp_as_np.reshape(1,-1)

eval_predict=model.predict(input_dat_reshape)

#print(eval_predict)
if (eval_predict[0]==0):
  print('not diabetic')
else:
  print('diabetic')

not diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

In [88]:
import pickle

In [89]:
filename= 'trained_model.sav'
pickle.dump(model, open(filename,'wb'))

In [90]:
loaded_model=pickle.load(open('trained_model.sav','rb'))